@model SysAplicativo.Models.DbLocal

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar</h1>

<h3>Você quer apagar esse local?</h3>
<div>
    <h4>DbLocal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomelocal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomelocal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descricaolocal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricaolocal)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar ao menu principal</a>
    </form>
</div>
